@import '../../../styles.scss';

.discover-articles-container {
    display: flex !important;
    width: 100%;
    gap: 2rem; /* Space between children */
    flex-wrap: wrap; /* Optional: Wrap children to the next line if they don't fit */
}

.discover-article {
    min-width: 150px; /* Minimum width for each child */
    min-height: 170px; /* Minimum height for each child */
    flex-grow: 1; /* Grow to fill available space */
    flex-basis: 0; /* Distribute space equally (optional) */
    
    background-color: white;


    border: 1px solid $secondary-color;

    border-radius: 10px;
    padding: 1em;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  
}

.display-icons {
    display: flex;
    align-items: center;
    height: 30px;
    gap: 0.5rem;

    mat-icon{
        cursor: pointer;
        scale: 0.8;
        height: 100%;
        width: 100%;
        opacity: 0.5;
    }

    .selected {
        opacity: 1;
        scale: 1;
    }

    img:hover {
        cursor: pointer;
    }
}