.navbar {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 999;
    padding: 0.5rem;
}

.container{
    display: flex;
    justify-content: flex-end;
    width: 100%;

    .side-bar {
        display: flex;
    }

    .navbar-menu{
        list-style: none;

        li {
            height: 50px;
        }
        
        a {
            height: 100%;
            display: flex;
            text-decoration: none;
            color: black;
            padding: 1em 2em;
            transition: background-color 150ms ease;
        }

        a:hover {
            background-color: #f5f9fc;
            cursor: pointer;
        }
    
        .active-link {
            border-bottom: 2px solid black;
        }
    }
    
}

// The navbar menu is hidden on mobile.
@media (max-width: 950px){
    .side-bar {
        flex-direction: column;
        overflow: hidden;
    }

    .side-bar.active {
        background-color: white;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    }

    .navbar-menu {
        display: none;
        flex-direction: column;
        justify-content: space-around;
        li {
            border-bottom: 1px solid rgba(0, 0, 0, 0.2);
            border-top: 1px solid rgba(0, 0, 0, 0.2)
        }
    }

    .navbar-menu.active {
        display: flex; /* Show when toggled */
    }

    .navbar-toggler {
        display: flex;
        background: none;
        border: none;
        cursor: pointer;
        transform: scaleX(-1);

        &__icon {
            width: 45px;
            height: 45px;
        }
    }
}

// Hide the navbar toggler on desktop.
@media (min-width: 950px){
    .navbar-toggler {
        display: none;
    }

    .side-bar {
        flex-direction: row;

        .navbar-menu {
            display: flex;
        }
    }
}

/* Keyframes for slide-in animation */
.open-navbar {
    animation: open-navbar 0.3s ease forwards;
}

@keyframes open-navbar {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
