<nav class="side-navbar">
  <!-- Navbar Toggler -->
  <button class="navbar-toggler" (click)="toggleMenu()">
    <mat-icon svgIcon="navbar-icon"></mat-icon>
  </button>
</nav>

<!-- Navbar Items -->
<div class="menu" [ngClass]="isMenuOpen()? 'slideIn': 'slideOut' ">

  <div class="company-logo">
    <a href="https://www.segurosuniversal.com.do/"
      ><img src="/svg/logo-grupo-universal.svg" class="logo" alt="Logo de Grupo Universal"
    /></a>
    <button id="btnBackMenu" (click)="toggleMenu()">
      <img src="/svg/arrow-back.svg" />
    </button>
  </div>

  <ul class="navbar-menu">
    <li>
      <a (click)="handleLogout()">
        Cerrar Sesión
      </a>
    </li>
    <li>
      <a href="https://github.com/PabloLorenzo123/PruebaAngular">
        Repositorio de la aplicación
      </a>
    </li>
  </ul>
</div>
