
<div class="bottom-navbar ">
    <div class="nav-items-container">

        @for (tab of navTabs(); track tab.title){
            <span [attr.data-title]="tab.title" class="nav-item" (click)="selectIcon(tab.title)">
                <span class="d-flex flex-column align-items-center " [class.selected]="selectedIcon() == tab.title">
                    <mat-icon [svgIcon]="tab.icon"></mat-icon>
                    <p class="">
                        {{ tab.title }}
                    </p>
                </span>
                
            </span>
        }
    </div>
</div>

