@import '../../../styles.scss'; // Import global styles.

.product-container:hover {
    scale: 1.025;
}


.product-container {
    transition: scale 0.2s ease;
    
    position: relative; // This allow children element to be positioned relative to this element.
    width: 100%;
    height: 80px;
    // max-width: 500px;
    margin: auto;
    background: none;
    
    border: none;
    margin-bottom: 1.25rem;
    cursor: pointer;

    // This is a div behind the product__detail one.
    &__right-border {
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 95%;
       
        border-right: 25px solid $tertiary-color;
        border-radius: 10px;
        // Center the element within its parent.
        top: 50%;
        transform: translateY(-50%); /* Moves it back by half its width and height */   
    }

    // Now let's add the div that sits on top and have the product details.
    &__content {
        z-index: 2;
        position: absolute;
        width: calc(100% - 10px);
        height: 100%;
        background-color: white;
        border: 0.25px solid rgba(0, 0, 0, .1);
        border-radius: 15px;

        font-size: 1rem;
        padding-inline: 1.5rem;

        .status {
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background-color: black;
        }
    }
}

// Mange post request responses.
.product-container.disabled {
    opacity: 0.7;
    cursor: default;
}

.status.failure {
    background-color: red !important;
}

.status.success {
    background-color: greenyellow !important;
}

// On desktop
@media (min-width: 768px){
    .product-container {
        height: clamp(80px, 10vh, 150px);

        p {
            
            font-size: clamp(1.2rem, 1vw, 2rem);
           
        }
        
    }
}