// Coverages is the container.
@import '../../../styles.scss';

.coverages-section {
    width: 100%;

    &__header {
        font-size: 2rem;
        margin-bottom: 1rem;
    }
}

.coverages {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    
    
    .coverage-container {
        position: relative; // This allow the child to be absolute.
        width: 100%;
        
        height: 80px;
        padding: 1em;
        
       
        border-radius: 10px;
        
        border-right: 8px solid $tertiary-color;

        // Here is defined the product name, and status.
        .coverage {
            height: 80px;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            
            background-color: white;
            padding: 1em;
            border: 1px solid $secondary-color;
            border-radius: 10px;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            cursor: pointer;
            font-size: 1rem;
    
            .status {
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color: green;
            }
            
        }
    }
}

.coverage-container.disabled {
    opacity: 0.8;
    cursor: default;
}

// Status colors.
.status.available {
    background-color: #81cb76;
}

.status.undefined {
    background-color: $tertiary-color;
}

.status.disabled {
    background-color: #e3282a;
}

