@import '../../../styles.scss';

.top-navigation-bar {
  position: relative;

  width: 100%;

  padding-bottom: 10px;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
  padding-top: 50px;
}

.logo-navbar-wrapper {
  display: flex;
  justify-content: space-between;
}

#company-logo {
  position: absolute;
  top: 10px;
  left: 5px;
  width: $fixed-top-icons-width;
  height: $fixed-top-icons-width;
}

.profile-container,
#company-logo {
    user-select: none; // So user cannot select it.
    pointer-events: none; // So the image and elements can be dragged.
}

.first-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-size: 1.5rem;
  margin-top: -20px;

  gap: 10px;
  color: $tertiary-color;

  text-align: center;

  p {
    margin: 0;
  }

  .profile-container {
    

    position: relative; // Makes the children element be position relatived to this element.
    width: 120px; /* Set width */
    height: 120px; /* Set height equal to width */
    border-radius: 50%;
    overflow: hidden;

    // All the children elements need to be round and full height and width, also absolutely positioned and centered.
    .colored-ring,
    .white-ring,
    .profile-img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      position: absolute;
    }

    .profile-img {
      top: 50%; /* Move it down by 50% of the container's height */
      left: 50%; /* Move it right by 50% of the container's width */
      transform: translate(-50%, -50%); /* Move it back by 50% of its own width and height */
    }

    // The colored ring (red -> blue) sits beneath the other elements.
    .colored-ring {
      z-index: 1;
      background-color: red;
      background: conic-gradient(
        transparent 0deg 180deg, /* Start with transparency */
         #1a1d5a 300deg,/* Smooth transition to blue */
         #ff4d00 360deg, /* Smooth transition to orange */
         transparent 360deg /* Fade out */
      );
      mask: radial-gradient(circle, transparent 60%, black 61%); // This removes the center.
      clip-path: polygon(0% 0%, 50% 0%, 50% 50%, 0% 50%); /* Cuts the top-left quarter */
    }

    // The white ring comes second.
    .white-ring {
      z-index: 2;
      clip-path: polygon(
        0% 50%,
        50% 50%,
        50% 0%,
        100% 0%,
        100% 100%,
        0% 100%
      ); // Cut 1/4 of the element.
      background-color: #f5f9fc;
    }

    // The image comes last, the separation between the ring and the photo is determined by the photo border width.
    .profile-img {
      z-index: 3;
      width: 90%;
      height: 90%;
      border: 10px solid white;
      border-radius: 50%; /* Ensures the image is circular */
      object-fit: cover; /* Cover the entire container */
    }
  }
}

.tabs-container {
  .tab-item {
    opacity: 0.7;
  }
  .tab-item:hover {
    opacity: 1;
    scale: 1.05;
  }
}


// On mobile.
@media screen and (max-width: 992px) {
  .tabs-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding-inline: 20px;
    font-size: 1.25rem;
  
    .tabs {
      font-size: 0.9rem;
      
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 0;
      cursor: pointer;

      // Icons.
      mat-icon {
        display: none;
      }
    }
  }
}

// On desktop and tablets.
@media (min-width: 992px) {
  // The container should be at the left side, and 100% tall.
  .top-navigation-bar {
    padding-top: 200px; // To avoid lying on top of the company logo.
    height: 100vh !important;
  }
  
  .tabs-container {
    padding-inline: 5px; // Reduce padding.
  }

  .tabs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    gap: 1.5rem !important;
    width: 100%;

    // Icon and title.
    .tab-item {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      cursor: pointer;

       // Icons.
       mat-icon {
        height: 40px;
      }
    }

  }
}

@media (min-width: 940px) {
  .profile-container {
    width: 150px !important;
    height: 150px !important;
  }
}
