/* You can add global styles to this file, and also import other style files */
$primary-color: #fff;
$secondary-color: #f5f9fc;
$tertiary-color: #0b2362;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", "sans-serif";
  color: $tertiary-color;
}

a {
  color: $tertiary-color;
}

html, body {
  height: 100%;
}

body {
    background-color: #f5f9fc;
}

.fw-light {
  font-weight: normal;
}

section h1 {
  font-size: 1.5rem;
  font-weight: normal;
  margin-bottom: 1rem;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
