/* You can add global styles to this file, and also import other style files */
$primary-color: #fff;
$secondary-color: #f5f9fc;
$tertiary-color: #022266;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
  color: $tertiary-color;
}

a {
  color: $tertiary-color;
}

html, body {
  height: 100%;
}

body {
    background-color: #f5f9fc;
}

.fw-light {
  font-weight: normal;
}