@import "../../../styles.scss";


.content {
    padding: 40px 20px;
    padding-bottom: calc($bottom-navbar-height + 5px);
    margin: auto;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    height: 100%;
    width: 100%;
    // border: 1px solid black;
}

@media (min-width: 768px){
    .content {
        height: 100%;
    }
}