<!-- Shows user information and tabs. -->
<!-- Shows user information and tabs. -->

<!-- <div class="row mx-0 h-100">
    <div class="col-lg-2 h-lg-100 p-0 user-info">
        <top-navigation-bar />
    </div>
    
    <div class="col-lg-10 p-0">
        <div class="mx-0 px-0 order-2 order-md-1 shadow-sm">
            <botton-navbar />
        </div>
        <div class="row mx-0 order-1 order-md-2 px-lg-5 pt-lg-3">
            <div class="mb-5">
                <coverages />
            </div>        
            <discover-section />
        </div>
    </div>
</div> -->

<!-- Shows user information and tabs. -->
 
<navbar />
<div class="row m-0">
  <div class="col-md-2">
    <top-navigation-bar />
  </div>

  <div class="col-md-10">
    <div class="content">
      <coverages />
      <discover-section />
    </div>
  </div>
  
</div>

<botton-navbar />
